.header{
    /* background-image: url('../assets/flowerbg.jpg'); */
    background-size: cover;
    color: #ffa5b1;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    border-radius: 20px;
    text-shadow: 7px 5px 5px rgb(85, 85, 85);
}
